:root {
    --header-font-color: rgb(28, 69, 135);
    --bright-font-color: white;
    --main-background: rgb(207, 226, 243);
    --info-box-background: rgb(119, 168, 201);
    --primary: #649253;
    --primary-hover: #96c97d;
    --secondary: #4975b0;
    --secondary-hover: #6eb0d8;
    --color-error: red;
    --color-link: blue;
    --color-link-hover: purple;

    --color-primary: #ff7c81;
    --color-secondary: #7cd7ff;
    --color-tertiary: #ffec58;
}

* {
    padding: 0;
    margin: 0;
}

html {
    background: white;
}


.content {
    display: flex;
    flex-flow: column;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: var(--main-background);
    font-family: 'Roboto', sans-serif;
    height: calc(100vh - 10px);

}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background: var(--color-secondary);
    color: white;
    font-size: 40px;
    min-height: 50px;
}

article {
    display: flex;
    flex-flow: column;
    flex: 1;
    align-content: stretch;
}

footer {
    min-height: 50px;
    background: var(--color-secondary);
}

h1, h2, h3 {
    color: var(--header-font-color);
    padding: 0 0 10px 0;
}

.header-profile {
    background: white;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin-right: 4px;
}

.widget-holder {
    display: flex;
    flex-flow: column;
    flex: 1;
    height: calc(100vh - 100px);
    padding: 0 10px;
}

.widget {
    display: flex;
    flex-flow: column;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    /*border: 1px solid red;*/
}

.text-form-field {
    width: calc(100% - 12px);
    height: 30px;
    font-size: 20px;
    color: var(--header-font-color);
    margin: 3px 0;
    padding: 3px;
}

.clr-error {
    color: var(--color-error);
}

.info-box {
    background: transparent;
    border: 2px dashed var(--header-font-color);
    border-radius: 4px;
    color: var(--header-font-color);
    padding: 10px;
    margin: 3px;
}

.btn {
    cursor: pointer;
    color: var(--bright-font-color);
    border: none;
    font-size: 18px;
    border-radius: 4px;
}

.btn-link {
    font-size: 16px;
    text-decoration: underline;
    color: var(--color-link);
    background: transparent;
    border: none;
}

.btn-link:hover {
    color: var(--color-link-hover);
    cursor: pointer;
}

.btn:disabled {
    opacity: 0.4;
    pointer-events: none;
}

.btn-large {
    width: 200px;
    height: 60px;
}

.btn-large-wide {
    width: 100%;
    height: 60px;
    margin: 3px 0;
}

.btn-primary {
    background: var(--primary);
}

.btn-primary:hover {
    background: var(--primary-hover);
}

.btn-secondary {
    background: var(--secondary);
}

.btn-secondary:hover {
    background: var(--secondary-hover);
}

.vertical-filler-s {
    height: 30px;
}

.vertical-filler-m {
    height: 60px;
}

.vertical-filler-l {
    height: 90px;
}