<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dojang</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="/static/js/build.js"></script>
    </head>
    <body onload="componentHeader()">
        <header id='header'>Header</header>
        <article id='article'>Article</article>
        <footer id='footer'>Footer</footer>
    </body>
</html>