<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojang</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.js"
            integrity="sha256-/wU5o1HRMBu91AoM5TxLLP4aspWB+FH8dtrkJZGCPFg=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/build.js"></script>

    <!-- CREATE USER -->
    <script id="handlebars-create-user" type="text/x-handlebars-template">
        {% raw %}
        <div>
            <form>
                <div class="widget-holder">
                    <div class="widget">
                        <div class="vertical-filler-l"></div>
                        <div class="form-box">
                            <div class="select-row"><label for="input-field-email">Email</label>
                                <input id="input-field-email" class="text-form-field" type="email" name="email"
                                       required/></div>
                            <div class="select-row"><label for="input-field-password">Password</label>
                                <input id="input-field-password" class="text-form-field" type="password" name="password"
                                       required/></div>
                            <div class="select-row"><label for="input-field-password-repeat">Password gentaget</label>
                                <input id="input-field-password-repeat" class="text-form-field" type="password"
                                       name="repeatPassword" required/></div>
                        </div>
                        <div class="vertical-filler-l"></div>
                    </div>
                    <div class="widget">
                        <button class="btn btn-large btn-primary" type="button" onclick="handleCreateUser()">Opret
                        </button>
                    </div>
                </div>
            </form>
        </div>
        {% endraw %}
    </script>

    <!-- SIGN IN -->
    <script id="handlebars-sign-in-form" type="text/x-handlebars-template">
        {% raw %}
        <div>
            <form>
                <div class="widget-holder">
                    <div class="widget">
                        <div class="vertical-filler-l"></div>
                        <div class="form-box">
                            <div class="select-row"><label for="input-field-email">Email</label>
                                <input id="input-field-email" type="email" name="email" class="text-form-field" required
                                       autofocus/></div>
                            <div class="select-row"><label for="input-field-password">Password</label>
                                <input id="input-field-password" type="password" name="password" class="text-form-field"
                                       required/></div>
                            {{{message}}}
                        </div>
                    </div>
                    <div class="widget">
                        <button class="btn btn-large btn-primary" type="button" onclick="handleSignIn()">Log Ind
                        </button>
                        <div class="vertical-filler-m"></div>
                        <button class="btn btn-link" type="button" onclick="pageCreateUser()">Ny Bruger?</button>
                        {{{extra}}}
                    </div>
                </div>
            </form>
        </div>
        {% endraw %}
    </script>

    <!-- MAIN MENU -->
    <script id="handlebars-main-menu" type="text/x-handlebars-template">
        {% raw %}
        <div class="widget-holder">
            <div class="widget">
                <div class="vertical-filler-l"></div>
                <button class="btn btn-large-wide btn-primary" type="button" onclick="pageQuizCategory()">Ny Quiz
                    &#10026;
                </button>
                <button class="btn btn-large-wide btn-secondary" type="button" onclick="handleGetCurriculum(1,1,8)">
                    Pensum
                </button>
            </div>
        </div>
        {% endraw %}
    </script>

    <!-- QUIZ -->
    <script id="handlebars-quiz" type="text/x-handlebars-template">
        {% raw %}
        <div class="widget-holder">
            <div class="widget">
                <h2>{{category}}</h2>
                <div class="progress-bar-frame">
                    <div style="width: {{percentageComplete}}%;" class="progress-bar"></div>
                    <div class="progress-bar-info">{{progressBarText}}</div>
                </div>
                <div class="vertical-filler-m"></div>
                <h3>{{question}}</h3>
                {{{options}}}
            </div>
        </div>
        {% endraw %}
    </script>

    <!-- QUIZ RESULT -->
    <script id="handlebars-quiz-result" type="text/x-handlebars-template">
        {% raw %}
        <div class="widget-holder">
            <div class="widget">
                <div class="vertical-filler-s"></div>
                <div class="info-box impressive align-content-center-top">
                    <h2>{{category}}</h2>
                    {{{stars}}}
                </div>
                <div class="vertical-filler-s"></div>
                <p>Rigtige: {{percentageCorrect}}%</p>
                <p>Tid: {{timeSpent}} minutter</p>
                <div class="vertical-filler-s"></div>
                <h3>Dine svar</h3>
                {{{answers}}}
                <div class="vertical-filler-m"></div>
                <button class="btn btn-large btn-primary" type="button" onclick="pageIndex()">Afslut</button>
            </div>
        </div>
        {% endraw %}
    </script>

    <!-- QUIZ CATEGORY -->
    <script id="handlebars-quiz-category" type="text/x-handlebars-template">
        {% raw %}
        <div class="widget-holder">
            <div class="widget">
                <div class="vertical-filler-l"></div>
                <button class="btn btn-large-wide btn-secondary" type="button" onclick="pageQuizConfig()">Fri
                    Quiz
                </button>
                <button class="btn btn-large-wide btn-secondary" type="button"
                        onclick="handleCreateNewQuiz(quizConfig1Dan)">1. dan
                </button>
                <button class="btn btn-large-wide btn-secondary" type="button"
                        onclick="handleCreateNewQuiz(quizConfig2Dan)">2. dan
                </button>
                <button class="btn btn-large-wide btn-secondary" type="button"
                        onclick="handleCreateNewQuiz(quizConfig3Dan)">3. dan
                </button>
                <button class="btn btn-large-wide btn-secondary" type="button"
                        onclick="handleCreateNewQuiz(quizConfig4Dan)">4. dan
                </button>
                <button class="btn btn-large-wide btn-secondary" type="button"
                        onclick="handleCreateNewQuiz(quizConfig5Dan)">5. dan
                </button>
                <button class="btn btn-large-wide btn-secondary" type="button"
                        onclick="handleCreateNewQuiz(quizConfig6Dan)">6. dan
                </button>
            </div>
        </div>
        {% endraw %}
    </script>

    <!-- QUIZ CONFIGURATION -->
    <script id="handlebars-quiz-configuration" type="text/x-handlebars-template">
        {% raw %}
        <div class="widget-holder">
            <div class="widget">
                <div class="vertical-filler-l"></div>
                {{{select}}}
                <div class="vertical-filler-m"></div>
                <button class="btn btn-large-wide btn-primary" type="button" onclick="handleCreateNewQuizFromForm()">
                    Start
                </button>
            </div>
        </div>
        {% endraw %}
    </script>

    <!-- CURRICULUM -->
    <script id="handlebars-curriculum" type="text/x-handlebars-template">
        {% raw %}
        <div class="widget-holder">
            <div class="widget">
                {{{select}}}
                <table style="width:100%">
                    <tr>
                        <th>Koreansk</th>
                        <th>Dansk</th>
                        <th>Grad</th>
                    </tr>
                    {{{rows}}}
                </table>
            </div>
        </div>
        {% endraw %}
    </script>

    <!-- INFO PAGE -->
    <script id="handlebars-info" type="text/x-handlebars-template">
        {% raw %}
        <div class="widget-holder">
            <div class="widget">
                <div class="vertical-filler-m"></div>
                <div class="{{errorLevel}}">
                    <h3>{{title}}</h3>
                    {{{ message }}}
                </div>
                <div class="vertical-filler-m"></div>
                <button class="btn btn-large btn-primary" type="button" onclick="{{buttonAction}}">{{buttonText}}
                </button>
            </div>
        </div>
        {% endraw %}
    </script>

    <!-- LOADING -->
    <script id="handlebars-loading" type="text/x-handlebars-template">
        {% raw %}
        <div class="widget-holder">
            <div class="widget"></div>
            <div class="widget">
                <img src="/static/svg/loading.svg"/>
                <h3>Øjeblik...</h3>
            </div>
            <div class="widget"></div>
        </div>
        {% endraw %}
    </script>

    <!-- TOP BAR SIGNED IN -->
    <script id="handlebars-top-bar-signed-in" type="text/x-handlebars-template">
        {% raw %}
        <div class="title" onclick="pageIndex()">{{title}}</div>
        <div class='header-profile'></div>
        {% endraw %}
    </script>

    <!-- TOP BAR SIGNED OUT -->
    <script id="handlebars-top-bar-signed-out" type="text/x-handlebars-template">
        {% raw %}
        <div class="title" onclick="pageIndex()">{{title}}</div>
        {% endraw %}
    </script>
</head>
<body onload="spaRouter()" onpopstate="spaRouter()">
<div class="content">
    <header id='header'></header>
    <article id='article'></article>
    <footer id='footer'></footer>
</div>
</body>
</html>